:root {
    --cor-primaria: #4CAF50;
    --cor-secundaria: #FF9800; 
    --cor-terciaria: #2196F3; 
    --cor-acento: #9C27B0; 
    --cor-fundo: #F1F1F1; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-fundo);
    color: #333;
}


.header {
    background-color: var(--cor-primaria);
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--cor-secundaria);
}


.hero {
    text-align: center;
    background-color: var(--cor-secundaria);
    color: white;
    padding: 100px 20px 50px;
    margin-top: 80px; /* Espaço para o header fixo */
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.cta-btn {
    padding: 10px 30px;
    background-color: var(--cor-primaria);
    color: white;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: var(--cor-acento);
    transform: scale(1.1);
}


.content {
    padding: 50px 20px;
    text-align: center;
}

.content h2 {
    font-size: 2rem;
    color: var(--cor-primaria);
    margin-bottom: 20px;
}

.content p {
    font-size: 1rem;
    color: #555;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 280px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
    font-size: 1.8rem;
    color: var(--cor-primaria);
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    color: #555;
}


.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}


.footer {
    background-color: var(--cor-primaria);
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
}


footer p {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

a{
    text-decoration: none;
    color: #fff;
}
